################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Serveur/.vs/Serveur/FileContentIndex
/Serveur/bdd.db
/Serveur/bdd.db-journal
